/*MEDIA SIZE*/

@media (max-width: 600px) { /*Para monitores small*/
	.book-div {text-align: center!important;}
	.libros-h1 {text-align: center!important;}
	.libros-line {margin-left: 45px;}
	.presentation.to-slide {height: auto!important;}
	.row .hijos-del-sol {width: auto;}

	.valign-wrapper {height: auto!important; display: flow-root;}
	.presentation {padding-top: 30px;background: #f4f4f4!important;padding-bottom: 30px;}
  nav a {padding-right: 0px;padding-left: 0px;margin: 0;}
	.button-collapse {margin: 2px 0!important;}
	nav ul a:hover {line-height: 48px!important;}
	nav {height: 69px;}
	nav .button-collapse {margin: -6px!important;}
	.navbar-fixed {height: 70px!important;}
	
	#trayectoria {height: auto!important;}

	.galeria-preview img {width: 48vw;height: 48vw;left: 1vw;}
	.galeria-preview {height: 50vw;}
	#galeria .row {height: auto!important;}
	.galeria-hover {width: 44vw;height: 44vw;margin: 1vw 2.5vw;}
	.galeria-container {height: auto!important;}

	.side-nav li>a {line-height: 21px;padding: 40px 32px;}
	#sidenav-overlay {opacity: 0!important; display: none!important; } 
	nav ul a:hover {line-height: 22px!important;}
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {height: 77px;line-height: 103px;}

	#contacto{min-height: 100vh; background: white; padding: 0px;}
	#contacto .container {min-height: auto; padding:15px;width: 87%;margin: auto;}

	#travelandworkshops {height: auto!important;overflow: scroll;}
	#travelandworkshops .valign-wrapper {display: inherit!important;}
	#travelandworkshops img {margin-top: 20px}
	.travel-div {text-align: left!important;padding-bottom: 108px!important;}
	.photo-container {margin-top: -90px;padding-left: 20px;padding-right: 20px;margin-left: 0px;}
	#galery-photo-container {margin-top: 0px;padding-left: 20px;padding-right: 20px;margin-left: 0px;}
	#travelandworkshops img {margin-left: 0px;margin-right: 0px;}
	
	#talleres h1 {display: none}
	.talleres-img {display: none}
	#talleres p {margin-bottom: 7px;}
	#talleres button {margin-top: 0px;}
	#talleres .white-box {background-color: transparent;padding-top: 0px!important;margin-top: 0px; text-align: left;}
	#talleres h6 {margin: initial;margin-top: 55px;}


	#trayectoria .white-box {background-color: transparent;}


	.only-mobile {display: inherit;}
	.only-large {display: none;}
	.only-xs {display: inherit;}
	body {height: auto!important;overflow: inherit!important;}


	#section-slider {height: calc(100vh - 70px)!important;}
}

@media (min-width: 601px) and (max-width: 992px) { /*Para monitores medium*/
	.only-mobile {display: inherit;}
	.only-large {display: none;}
	.only-xs {display: none;}

	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {height: 90px;line-height: 90px;}

	body {height: auto!important;overflow: inherit!important;}

	#contacto{min-height: 100vh; background: white; padding: 0px;}
	#contacto .container {min-height: auto; padding:15px;width: 87%;margin: auto;}

	#travelandworkshops {height: auto!important;}
	#travelandworkshops .valign-wrapper {display: inherit!important;}
	#travelandworkshops img {margin-top: 20px}

	#trayectoria {height: auto!important;}
	#trayectoria h1 {left: 3px;}
	.grey-box {width: 34%;}

	#talleres {height: auto!important;width: 100vw;}
	#talleres h6 {margin-top: 55px;}
	#talleres p {margin-bottom: 7px;}
	#talleres button {margin-top: 0px;}

	.side-nav li>a {line-height: 21px;padding: 40px 32px;}
	#sidenav-overlay {opacity: 0!important; display: none!important; } 
	nav ul a:hover {line-height: 22px!important;}

	.galeria-preview img {width: 48vw;height: 48vw;left: 1vw;}
	.galeria-preview {height: 50vw;}
	#galeria .row {height: auto!important;}
	.galeria-hover {width: 44vw;height: 44vw;margin: 1vw 2.5vw;}
	.galeria-container {height: auto!important;}

}
@media (min-width: 993px) and (max-width: 1200px){ /*Para monitores large*/

}
@media (min-width: 1200px) { /*Para monitores extra large*/

}


/* portrait */
@media screen and (max-width: 600px) and (orientation:portrait) { /*para celulares vertical*/
}
/* landscape */
@media screen and (max-width: 600px) and (orientation:landscape) {  /*para celulares horizontal*/
}

@media screen and (max-width: 991px) and (orientation:landscape){
}

@media (min-width: 1200px){
  
}
@media (min-width: 350px) and (max-width: 767px) { /*Para iphone 6*/

}
@media (max-width: 350px) { /*Para iphone 5*/
	#home h2 {font-size: 31px;margin-top: -110px;}
	.phone-col{padding: 0px!important;margin-left: -2%!important;width: 95vw!important;}
	.phone-line {left: 2px;}
	.email-col{margin-left: -5%!important;}
}