/*FONTS*/
@font-face {
 font-family: 'SansLight';
 src: url('../fonts/Sans/SourceSansPro-Light.ttf') format('opentype');
}
@font-face {
 font-family: 'SansRegular';
 src: url('../fonts/Sans/SourceSansPro-Regular.ttf') format('opentype');
}
@font-face {
 font-family: 'SansSemibold';
 src: url('../fonts/Sans/SourceSansPro-Semibold.ttf') format('opentype');
}
@font-face {
 font-family: 'SansItalic';
 src: url('../fonts/Sans/SourceSansPro-Italic.ttf') format('opentype');
}
@font-face {
 font-family: 'SansLightItalic';
 src: url('../fonts/Sans/SourceSansPro-LightItalic.ttf') format('opentype');
}
@font-face {
 font-family: 'PlayfairBlack';
 src: url('../fonts/Playfair/PlayfairDisplay-Black.ttf') format('opentype');
}
@font-face {
 font-family: 'PlayfairBold';
 src: url('../fonts/Playfair/PlayfairDisplay-Bold.ttf') format('opentype');
}
@font-face {
 font-family: 'PlayfairRegular';
 src: url('../fonts/Playfair/PlayfairDisplay-Regular.ttf') format('opentype');
}

/*GENERAL*/

html, body, section {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
}
section{
  position: relative;
}
.container {
  width: 90%;
}
.relative {
  position: relative;
}
.trayectoria-relative {
  margin-left: -6px;
  padding-left: 6px;
  position: relative;
}
.hidden {
  display: none!important;
}
.only-mobile {
  display: none!important;
}
.only-large {
  display: inherit;
}
.only-xs {
  display: none!important;
}
.no-padding {
  padding: 0px!important;
}
.centered {
  text-align: center;
}
.left-aligned {
  text-align: left!important;
}
.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%!important;
}
.valign-wrapper .valign {
  display: block;
  text-align: center;
}
.allWidth {
  width: 100%;
}

/*HOME*/
#home {
  height: auto;
  background-color: white;
  min-height: calc(100vh - 89px);
  position: relative;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.home-container {
  width: 100%;
  min-width: 100%!important;
  height: auto;
}

#home .galeria-preview {
  padding: 0px;
  position: relative;
  
}
#home .galeria-preview img{
  width: 95%;
  height: 95%;
  z-index: 1;
}

#home .galeria-hover {
  background: white;
  opacity: 0;
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  width: 84%;
  left: 8%;
  height: 84%;
}

.home-row {
  margin: 0px;
  padding: 0px;
}
.home-row .col {
  margin: 0px;
  padding: 0px;
  height: 23vw;
}
@media (max-width: 992px) { /*Para monitores medium*/
  .home-row .col {
    margin: 0px;
    padding: 0px;
    height: 48vw;
  }
  #home .galeria-hover {
    left: 5%;
  }
}

/*GALERIA PREVIEW*/
#galeria {
  height: calc(100vh - 89px);
  background-color: white;
  min-height: calc(100vh - 89px);
}
.galeria-container {
  width: 100%;
  min-width: 100%!important;
  height: calc(100vh - 89px)!important;
}
.galeria-container .row{
  margin: 0px;
  width: 100%!important;
  min-width: 100%!important;
}
/*.galeria-preview {
  padding: 15px;
  position: relative;
  overflow: hidden;
}
.galeria-preview img{
  width: 23vw;
  margin: 1vw;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
}*/
#galeria .row {
  width: 100%!important;
}
#galeria .row .col {
  padding: 0!important;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 22vw;
}
/*.galeria-hover {
  background: white;
  opacity: 0;
  margin: auto;
  width: 18vw;
  height: 17vw;
  margin: 4.6vh 3.6vw;
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}*/
.galeria-hover p {
  font-family: 'PlayfairRegular';
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: solid 0.5px black;
  margin-left: 7px;
  margin-right: 7px;
}
.galeria-hover a {
  letter-spacing: 1px;
  font-family: 'PlayfairRegular';
  color: black;
  border: solid 1px black;
  background: transparent;
  padding: 8px 14px;
  font-size: 11px;
  margin-top: 10px;
}
.galeria-hover a:hover {
  font-family: 'PlayfairBold';
}
.galeria1 {
  background-image: url('../images/galeria/1.jpg');
  height: calc(50vh - 62px);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

/*NAVBAR*/
.navbar-fixed {
  height: 89px!important;
}
nav .button-collapse i {
  color: black;
}
nav {
  z-index: 5;
  height: 89px;
  background-color: white;
  color: black;
  font-family: 'PlayfairRegular';
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.nav-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
nav ul a {
  color: black!important;
  line-height: 90px;
  padding-right: 2px;
  padding-left: 2px;
  letter-spacing: 4px;
  font-size: 12px!important;
  height: 65px;
}
nav ul .a-active {
  border-bottom: solid 1px;
}
nav ul li {
  padding-right: 30px;
  padding-left: 30px;
}

.active {
  color: black!important;
  font-family: 'PlayfairBold';
  border-bottom: solid 1px black;
}
nav ul a:hover {
  color: black;
  background-color: white!important;
  font-family: 'PlayfairBold';
  line-height: 85px;
}
.fa-bars {
  font-size: 26px!important;
}
.scaled {
  transform: scale(0.8);
}

.brand-logo {
  font-family: 'PlayfairBold';
  font-size: 15px!important;
  color: black!important;
  height: 100%;
  line-height: 90px;
  padding-right: 30px;
  padding-left: 30px;
  letter-spacing: 4px;
  cursor: pointer;
}


/*CONTACT*/
#contacto {
  background-color: #f8f8f8;
  height: calc(100% - 89px);
  min-height: 400px;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 15px;
}

.contacto-title {
  background-color: #f8f8f8;
  height: 244px;
  text-align: left;
  padding: 30px;
}
.contacto-title h1 {
  font-family: 'PlayfairBlack';
  font-size: 24px;
  letter-spacing: 1px;
  border-bottom: solid 1.5px black;
  width: 118px;
  line-height: 36px;
}
.contacto-title p {
  font-size: 14.5px;
  color: grey;
  font-family: 'PlayfairRegular';
  letter-spacing: 1px;
}

textarea.materialize-textarea, input {
  margin: 0 0 0px 0!important;
  font-family: 'PlayfairRegular';
}
input {
  font-family: 'SansRegular'!important;
}
textarea {
  font-family: 'SansRegular'!important;
}
label {
  border-bottom: solid 0px transparent!important;
  letter-spacing: 0.5px;
  font-size: 12px!important;
  font-family: 'PlayfairRegular';
}

label .active {
  color: inherit!important;
  font-family: 'PlayfairRegular';
  border-bottom: solid 0px transparent;
}
.contact-button {
  letter-spacing: 3px;
  font-family: 'SansLight'!important;
  color: black;
  border: solid 1px black;
  background: transparent;
  padding: 17px 47px;
  font-size: 11px;
  margin-top: 10px;
}
.contact-button:hover {
  font-family: 'SansRegular';
}
.contact-button:focus {
  background: transparent!important;
}
#contacto .content {  
  font-family: 'SansLight';
  padding-right: 10px; 
  font-size: 14.5px;
  color: black;
}
/*TALLERES*/
#talleres {
  background-color: #f8f8f8;
  height: calc(100% - 89px);
  min-height: 400px;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 15px;
}
.talleres-img {
  position: absolute;
  top: 0;
  z-index: 0;
  height: 100%;
  left: 0;
  width: 35%;
  opacity: 0.5;
  background-image: url('../images/talleres.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
.white-box {
  background-color: white;
  z-index: 2;
  min-height: 67vh!important;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 30px!important;
  padding-top: 100px!important;
  margin-top: 60px;
  opacity: 0.9;
}
#talleres h1 {
  position: absolute;
  z-index: 3;
  width: 40%;
  left: -1.3%;
  top: 69px;
  font-family: 'PlayfairBlack';
  font-size: 54px;
}
#talleres h2 {
  font-family: 'PlayfairBlack';
  font-size: 24px;
  letter-spacing: 1px;
  border-bottom: solid 1px black;
  width: 118px;
  line-height: 36px;
}
#talleres .mobile-title {
  width: 100vw;
  background: white;
  padding: 25.5px;
  margin: -33px -15px 0px -15px;
}
#talleres p {
  font-family: 'SansLight';
  letter-spacing: 0.3px;
  font-size: 13px;
  margin-top: 17px;
  text-align: center;
  padding: 0 20px;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
#talleres h6 {
  width: auto;
  display: table;
  font-family: 'PlayfairBlack';
  letter-spacing: 5px;
  font-size: 16px;
  line-height: 38px;
  border-bottom: solid 1.5px black;
  margin: auto;
}
#talleres a {
  letter-spacing: 1px;
  font-family: 'PlayfairRegular';
  color: black;
  border: solid 1px black;
  background: transparent;
  padding: 13px 20px;
  font-size: 11px;
  margin-top: 10px;
  text-decoration: none;
}
#talleres a:hover {
  font-family: 'PlayfairBold';
  text-decoration: none;
  color: black;
}

/*TRAYECTORIA*/
.point {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 10px;
  background: black;
  position: absolute;
  left: -3px;
  top: 5px;
}
#trayectoria {
  background-color: #f8f8f8;
  height: calc(100% - 89px);
  min-height: 400px;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 15px;
}
.trayectoria-img {
  position: absolute;
  top: 0;
  z-index: 0;
  height: 100%;
  left: 0;
  width: 100%;
  opacity: 0.5;
  background-image: url('../images/trayectoria.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
.trayectoria-container {
  max-width: 1200px!important;
}
#trayectoria h1 {
  position: absolute;
  z-index: 3;
  width: 40%;
  left: -1.3%;
  top: 69px;
  font-family: 'PlayfairBlack';
  font-size: 54px;
}
#trayectoria .white-box {
  padding-top: 30px!important;
  padding-bottom: 0px!important;
}
.line-div {
  border-left: solid 1px;
  margin-left: 6px;
  padding-left: 6px;
  position: relative;
}
.grey-box {
  background-color: #ebebeb;
  position: absolute;
  z-index: 3;
  top: 200px;
  padding: 30px 57px;
  left: 40px;
  width: 27%;
}
.grey-box p {
  font-family: 'SansLight';
  text-align: justify;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-size: 12.5px;
}
.grey-box h2 {
  font-family: 'PlayfairBold';
  text-align: left;
  font-size: 16px;
  margin-bottom: 3px;
}
.years {
  font-family: 'PlayfairBlack';
  font-size: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
}

#trayectoria .title {
  font-family: 'PlayfairRegular';
  letter-spacing: 1px;
  font-size: 68%;
  text-align: left;
  margin-bottom: 2px;
  margin-top: 0px;
  color: black;
}
#trayectoria .subtitle {
  font-family: 'SansItalic';
  letter-spacing: 0.5px;
  font-size: 67%;
  text-align: left;
  margin-top: 0px;
  color: black;
  margin-bottom: 7px;
}


/*TRAVEL AND WORKSHOPS*/
#travelandworkshops {
  background-color: #f8f8f8;
  height: calc(100vh - 89px)!important;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 0px;
}

#travelandworkshops h1 {
  font-family: 'PlayfairBlack';
  font-size: 22px;
  letter-spacing: 1px;
  text-align: left;
}

#travelandworkshops p {
  font-family: 'SansLight';
  font-size: 14px;
  text-align: left;
}

#travelandworkshops .button {
  letter-spacing: 2px;
  font-family: 'PlayfairRegular';
  color: black;
  border: solid 1px black;
  background: transparent;
  padding: 13px 20px;
  font-size: 11px;
  margin-top: 10px;
  text-transform: uppercase;
}

#travelandworkshops .container {
  width: 100%!important;
  max-width: 100%;
}

#travelandworkshops .row {
  margin: 0px;
}

.travel-div {
  text-align: left;
  padding: 35px 50px!important;
  background: #ebebeb;
}

/*#travelandworkshops img {
  height: calc(100vh - 150px);
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}*/

/*INSIDE GALERY*/
.slide-galeria-container {
  height: calc(100vh - 250px)!important;
}
.presentation {
  height: calc(100vh - 89px)!important;
  background-color: white;
  min-height: calc(100vh - 89px);
  background: grey; /* Old browsers */
  background: -moz-linear-gradient(left, #f4f4f4 0%, #f4f4f4 60%, #ffffff 60%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f4f4f4 0%,#f4f4f4 60%,#ffffff 60%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f4f4f4 0%,#f4f4f4 60%,#ffffff 60%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.presentation.to-slide {
  height: calc(100vh - 89px)!important;
  background-color: white;
  min-height: calc(100vh - 89px);
  background: grey; /* Old browsers */
  background: -moz-linear-gradient(top, #f4f4f4 0%, #f4f4f4 40%, #ffffff 40%, #ffffff 100%)!important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f4f4f4 0%,#f4f4f4 40%,#ffffff 40%,#ffffff 100%)!important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, #f4f4f4 0%,#f4f4f4 40%,#ffffff 40%,#ffffff 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.presentation h1 {
  font-family: 'PlayfairBold';
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-align: left;
}

.presentation p {
  font-family: 'SansLight';
  font-size: 14px;
  line-height: 26px;
  text-align: justify;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  color: grey;
}

.presentation p.italic {
  font-family: 'SansLightItalic'!important;
}

.presentation hr {
  margin-top: 20px;
  color: grey;
}

.presentation a{
  font-size: 14px;
  font-family: 'SansLight';
  word-wrap: break-word;
  color: grey;
}

.presentation .line {
  width: 42px;
  display: block;
  border-top: 2px solid #000;
  vertical-align: top;
  margin-bottom: 13px;
}

.presentation .inside-line {
  width: 42px;
  display: block;
  border-top: 2px solid #000;
  vertical-align: top;
  margin-bottom: 13px;
}

.presentation .thin-line {
  width: 52px;
  display: block;
  border-top: 2px solid #000;
  vertical-align: top;
  margin-bottom: 0px;
}

.galery-img {
  margin-left: 10%;
  width: 80%;
}

.galery-img-vertical {
  margin-left: 20%;
  width: 60%;
}


.galery-slide img {
  height: calc(100vh - 250px);
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.slide-galeria-container img {
  height: calc(100vh - 250px)!important;
}


/*SLICK*/
.slick-next::before {
  content: ">"!important;
  color: black!important;
}
.slick-prev::before {
  content: "<"!important;
  color: black!important;
}
.whithout-arrow .slick-arrow, .slick-dots {
  opacity: 0;
}
.slick-prev {
  top: calc(100% + 25px)!important;
  left: 10px!important; 
  font-family: 'PlayfairBold';
  font-size: 24px;
}
.slick-next {
  top: calc(100% + 25px)!important;
  right: 10px!important; 
  font-family: 'PlayfairBold';
  font-size: 24px;
}


/*LIBROS*/
#libros h1 {
  font-size: 21px;
}

#libros .thin-line {
  width: 38px;
}
.row .hijos-del-sol {
  width: 187px;
}
.row .hijos-del-sol {
  width: 139px;
}
.transparent-link {
  cursor: default!important;
  color: transparent!important;
  height: 66px;
}
.libros-img {
  width: 200px;
}
.book-div {
  width: 215px;
  margin: 0 35px;
}
.ver-mas-row {
  text-align: left; 
  margin-left: 43px!important;
}

#libros a.ver-mas {
  letter-spacing: 1px;
  font-family: 'PlayfairRegular';
  color: black;
  border: solid 1px black;
  background: transparent;
  padding: 9px 15px;
  font-size: 11px;
  margin-top: 10px;
  text-transform: uppercase;
  text-decoration: none;
}
#libros a.ver-mas:hover {
  font-family: 'PlayfairBold';
}

/*DECONSTRUYENDO*/
.retratos-img {
  height: 74vh;
}

.deconstruyendo-img {
  height: 67vh;
}

#deconstruyendoGalery .slick-slide {
  text-align: center!important;
  justify-content: center!important;
  display: flex!important;
}

#creenciasGalery .slick-slide {
  text-align: center!important;
  justify-content: center!important;
  display: flex!important;
}

#publiLarge .slick-slide {
  text-align: center!important;
  justify-content: center!important;
  display: flex!important;
}

#publiXs .slick-slide {
  text-align: center!important;
  justify-content: center!important;
  display: flex!important;
}

.work-img {
  height: calc(100vh - 300px)!important;
}
.work-title {
  letter-spacing: 2px!important;
  font-family: 'PlayfairRegular'!important;
  color: black!important;
  font-size: 11px;
  text-transform: uppercase;
  padding-left: 11px;
}
.work-transparent-title {
  letter-spacing: 1px;
  font-family: 'PlayfairRegular';
  color: transparent!important;
  font-size: 11px;
  text-transform: uppercase;
  padding-left: 11px;
}

.thanks-div {
  font-family: 'SansLight';
  padding-right: 10px;
  font-size: 16px;
  color: black;
}